global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      # - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.

    static_configs:
      - targets: ['localhost:9090']

  # jmx_exporter section
  # scrape_interval is optional as it will default to the default
  - job_name: 'jmx_exporter'
    #scrape_interval: 5s
    static_configs:
      - targets: 
        {%- for iri in iri_targets %}
        - "{{ iri }}:5555"
        {%- endfor %}

  # tanglescope_statscollector section
  # scrape_interval is optional as it will default to the default
  - job_name: 'tanglescope_statscollector'
    #scrape_interval: 5s
    static_configs:
      - targets: 
        {%- for iri in tanglescope_targets %}
        - "{{ iri }}:4444"
        {%- endfor %}

  # tanglescope_blowball section
  # scrape_interval is optional as it will default to the default
  - job_name: 'tanglescope_blowball'
    #scrape_interval: 5s
    static_configs:
      - targets: 
        {%- for iri in tanglescope_targets %}
        - "{{ iri }}:4445"
        {%- endfor %}
       
  # tanglescope_tipselection section
  # scrape_interval is optional as it will default to the default
  - job_name: 'tanglescope_tipselection'
    #scrape_interval: 5s
    static_configs:
      - targets: 
        {%- for iri in tanglescope_targets %}
        - "{{ iri }}:4446"
        {%- endfor %}

  # tanglescope_widthcollector section
  # scrape_interval is optional as it will default to the default
  - job_name: 'tanglescope_widthcollector'
    scrape_interval: 10s
    static_configs:
      - targets: 
        {%- for iri in tanglescope_targets %}
        - "{{ iri }}:4447"
        {%- endfor %}

