apiVersion: v1
kind: Service
metadata:
  name: prometheus-grafana-{{ REVISION_PLACEHOLDER }}
  labels:
    app: prometheus-grafana
    revision: {{ REVISION_PLACEHOLDER }}
spec:
  ports:
    - name: http
      port: 3000
      targetPort: 3000
  selector:
    app: prometheus-grafana
    revision: {{ REVISION_PLACEHOLDER }}
  type: NodePort
