apiVersion: v1
kind: ConfigMap
metadata:
  name: tiab-entrypoint-{{ TAG_PLACEHOLDER }}
  labels:
    app: iri
    tag: {{ TAG_PLACEHOLDER }}
data:
  tiab-entrypoint.sh: |
    #!/bin/bash

    set -x

    if [ ! -z $IRI_DB_URL ]; then
      wget $IRI_DB_URL -O /tmp/db.tar
      if [ ! -z $IRI_DB_CHECKSUM ]; then
        if [ $(sha256sum /tmp/db.tar | cut -d' ' -f1) != $IRI_DB_CHECKSUM ]; then
          echo "ERROR: checksum $IRI_DB_CHECKSUM doesn't match downloaded file!" >&2
          exit 2
        fi
      fi
      rm -rf /iri/data/spamnet*
      rm -rf /iri/data/testnet*
      rm -rf /iri/data/mainnet*

      ADDRESSES_ARCHIVE_SUBPATH=$(tar tfv /tmp/db.tar | grep -F 'spent-addresses-db/' | grep -E '^d'  | awk '{print $6}')
      STRIP_COMPONENTS=$(echo $ADDRESSES_ARCHIVE_SUBPATH | awk -F '/' '{print NF-2}')
      tar xfv /tmp/db.tar --strip-components=$STRIP_COMPONENTS -C /iri/data $ADDRESSES_ARCHIVE_SUBPATH

      SPAMNET_ARCHIVE_SUBPATH=$(tar tfv /tmp/db.tar | grep -F 'spamnetdb/' | grep -E '^d'  | awk '{print $6}')
      STRIP_COMPONENTS=$(echo $SPAMNET_ARCHIVE_SUBPATH | awk -F '/' '{print NF-2}')
      tar xfv /tmp/db.tar --strip-components=$STRIP_COMPONENTS -C /iri/data $SPAMNET_ARCHIVE_SUBPATH

      TESTNET_ARCHIVE_SUBPATH=$(tar tfv /tmp/db.tar | grep -F 'testnetdb/' | grep -E '^d'  | awk '{print $6}')
      STRIP_COMPONENTS=$(echo $TESTNET_ARCHIVE_SUBPATH | awk -F '/' '{print NF-2}')
      tar xfv /tmp/db.tar --strip-components=$STRIP_COMPONENTS -C /iri/data $TESTNET_ARCHIVE_SUBPATH

      MAINNET_ARCHIVE_SUBPATH=$(tar tfv /tmp/db.tar | grep -F 'mainnetdb/' | grep -E '^d'  | awk '{print $6}')
      STRIP_COMPONENTS=$(echo $MAINNET_ARCHIVE_SUBPATH | awk -F '/' '{print NF-2}')
      tar xfv /tmp/db.tar --strip-components=$STRIP_COMPONENTS -C /iri/data $MAINNET_ARCHIVE_SUBPATH

      SNAPSHOT_ARCHIVE_SUBPATH=$(tar tfv /tmp/db.tar | grep -F 'snapshot.' | awk '{print $6}')
      SNAPSHOT_STRIP_COMPONENTS=$(echo $SNAPSHOT_ARCHIVE_SUBPATH | awk -F'/' '{print NF-1}')
      tar xfv /tmp/db.tar --strip-components=$SNAPSHOT_STRIP_COMPONENTS -C /iri/data $SNAPSHOT_ARCHIVE_SUBPATH
    fi

    for ixi_url in $IXI_URLS; do
      TEMP_FILE=$(mktemp)
      wget $ixi_url -O $TEMP_FILE
      MODULE_NAME=$(tar tfv $TEMP_FILE | head -n1 | awk '{print $6}' | sed -r 's/^(.+)\.ixi.+$/\1/')
      mkdir -p /iri/data/ixi/$MODULE_NAME
      tar xfv $TEMP_FILE --strip-components=1 -C /iri/data/ixi/$MODULE_NAME
      rm $TEMP_FILE
    done

    # There is a race condition with the IXI module upload if we do not spend time downloading a database
    if [ $LOCAL_IXIS = "xyes" ]; then
      while [ ! -d /iri/data/ixi ]; do
        sleep 5
      done
    fi

    {{ EXTRAS_COMMANDS_PLACEHOLDER }}
    {{ CONFIG_EXTRAS_COMMANDS_PLACEHOLDER }}

    /bin/bash -l -c "/entrypoint.sh $*"

    sleep 30
